<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.199" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="FubuCore" version="0.9.4.115" />
  <package id="FubuLocalization" version="0.9.4.115" />
  <package id="FubuMVC.References" version="0.9.3.744" />
  <package id="HtmlTags" version="1.0.0.55" />
  <package id="log4net" version="1.2.10" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="NServiceBus-CI" version="3.0.2091" />
  <package id="RavenDB-Client" version="1.0.701" />
  <package id="RestSharp" version="102.7" />
  <package id="structuremap" version="2.6.3" />
</packages>