build
binaries
obj
bin
.nu
_ReSharper.*
_UpgradeReport.*
_TeamCity.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.user
TestResult.xml
results
nuget
CommonAssemblyInfo.cs
lib/sqlite/System.Data.SQLite.dll
*.orig
Samples/DataBus/storage
packages
PrecompiledWeb
core-only
Release
hygia-widgets.zip
hygia-widgets
Artifacts
App_Data
