<td>#</td>
<td>
    <div class="wrapper">
        <h4>
            <a href="#" class=""><%= Exception.Message %></a>
            <span class="label label-info"><%= Headers['NServiceBus.EnclosedMessageTypes'] %></span>
        </h4>
        <p>
            <small>
                by <strong><a href="/endpoint/<%= EndpointId %>"><%= Endpoint %></a></strong>
                <time class="js-relative-date" datetime="<%= Headers['NServiceBus.TimeSent'] %>" title="<%= Headers['NServiceBus.TimeSent'] %>"><%= Headers['NServiceBus.TimeSent'] %></time>
            </small>
        </p>
    </div>
</td>
<td><button class="btn btn-mini btn-primary btn-retry-fault"><i class="icon-retweet icon-white"></i> Retry</button></td>
<td><button class="btn btn-mini btn-danger btn-archive-fault"><i class="icon-minus icon-white"></i> Archive</button></td>



