<td><%= FaultId %></td>
<td>
    <div class="wrapper">
        <h4>
            <a href="/#fault/<%= FaultEnvelopeId %>" alt="<%= ExceptionMessage %>"><%= Title %></a>
            <span class="label label-info"><%= EnclosedMessageTypes %></span>
            <% if (Status == 2) { %>
                <span class="label label-important">Repeted failures</span>    
            <% } %>

            <% if (BusinessService && BusinessService.length > 0) { %>
                <span class="label"><%= BusinessService %></span>    
            <% } %>
        </h4>
        <p>
            <small>occured <time class="js-relative-date" datetime="<%= TimeSent %>" title="<%= TimeSent %>"><%= TimeSent %></time></small>
        </p>

    </div>
</td>
<td>
    <div class="btn-group right">
        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="/#fault"><i class="icon-chevron-down"></i></a>
        <ul class="dropdown-menu">
        <li><a class="action-retry-fault" href="/#fault">Retry</a></li>
        <li><a class="action-archive-fault" href="/#fault">Archive</a></li>
        </ul>
    </div>
</td>
