<h1>Fault detail</h1>
<table class="table table-striped">
    <tbody>    
        <tr><th>Status</th><td><%= Status %></td></tr>
        <tr><th>Exception</th><td><h4><%= Exception.Message %></h4><p><%= Exception.Reason %></p></td></tr>     
        <tr><th>StackTrace</th><td><%= Exception.StackTrace %></td></tr>                   
        <tr><th>FaultEnvelopeId</th><td><%= FaultEnvelopeId %></td></tr>
        <tr><th>Body</th><td><%= Body %></td></tr>
        <tr><th>Endpoint</th><td><%= Endpoint %></td></tr>
        <tr><th>EndpointId</th><td><%= EndpointId %></td></tr>
        <tr><th>TimeOfFailure</th><td><%= TimeOfFailure %></td></tr>
        <tr><th>AssignedTo</th><td><%= AssignedTo %></td></tr>
        <tr><th>Retries</th><td><%= Retries %></td></tr>        
    </tbody>
</table>