<div class="row-fluid">
    <div class="span4">
        <div class="hero-unit">
          <h1>SignIn</h1>
          <p>Keeping an eye out</p>
          <p>
            <a class="btn btn-primary btn-large">
              Sign Up
            </a>
          </p>
        </div>
    </div>
    <div class="span4">
        <div class="hero-unit">
          <h1>WatchR</h1>
          <p>Effective management of your production faults</p>
        </div>
    </div>
    <div class="span4">
        <div class="hero-unit">
          <h1>WatchR</h1>
          <p>Take control over you Service Level Agreements</p>
        </div>
    </div>
</div>
