<div class="row-fluid">
    <div class="span4">
        <div class="hero-unit">
          <h1>SignIn</h1>
          <p>Tagline</p>
          <p>
            <a class="btn btn-primary btn-large">
              Learn more
            </a>
          </p>
        </div>
    </div>
    <div class="span4">
        <div class="hero-unit">
          <h1>WatchR</h1>
          <p>Tagline</p>
        </div>
    </div>
    <div class="span4">
        <div class="hero-unit">
          <h1>WatchR</h1>
          <p>Tagline</p>
        </div>
    </div>
</div>
