<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <appSettings>
    <add key="SmtpUser" value="operations@watchr.se" />
    <add key="SmtpPassword" value="watchr2012" />
    <add key="SmtpServer" value="send.one.com" />
    <add key="SmtpPort" value="2525" />
    <add key="DefaultFromEmail" value="operations@watchr.se" />
    <add key="AlerterInstanceId" value="" />
    <add key="TimeToWaitBeforeAlerting" value="60" />
    <add key="CriticalAlertLimit" value="60" />
    <add key="CheckIntervalInSeconds" value="60" />
    <add key="POP3Server" value="pop3.watchr.se" />
    <add key="POP3Password" value="watchr2012" />
    <add key="POP3User" value="operations@watchr.se" />
    <add key="POP3Port" value="110" />
  </appSettings>
  <connectionStrings>
    <add name="RavenDB" connectionString="Url=http://localhost:8080; defaultDatabase=WatchR" />
  </connectionStrings>
  <Logging Threshold="WARN" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Hygia.Operations.Events" Endpoint="Hygia.Backend" />
      <add Messages="Hygia.LogicalMonitoring" Endpoint="Hygia.Backend" />
      <add Messages="Hygia.PhysicalMonitoring" Endpoint="Hygia.Backend" />
      <add Messages="Hygia.FaultManagement.Events" Endpoint="Hygia.Backend" />
      <add Messages="Hygia.Operations.Email.Commands" Endpoint="Hygia.Backend" />
      <add Messages="Hygia.FaultManagement.Commands" Endpoint="Hygia.Backend" />
      <add Messages="Hygia.ServiceLevelAgreements.Events" Endpoint="Hygia.Backend" />
      <add Messages="Hygia.ServiceLevelAgreements" Endpoint="Hygia.Backend" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="WatchR.Errors" />
</configuration>