<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- RavenHQ -->
    <!--<add key="watchr.apikey" value="918490ce-5a0c-4260-aaf8-a4d080c1f5cf"/>-->
    <!-- Hygia.Acme -->
    <add key="watchr.apikey" value=" 327951bf-bae4-46a4-93a0-71f61dfbe801"/>
   
    <add key="watchr.audit.input" value="audit"/>
    <add key="watchr.errors.input" value="error"/>
    <add key="watchr.apiurl" value="http://176.34.177.96/"/>
    <!--<add key="watchr.apiurl" value="http://23.21.194.62"/>-->
   
  </appSettings>
</configuration>