<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="watchr.apikey" value="327951bf-bae4-46a4-93a0-71f61dfbe801"/>
    <add key="watchr.audit.input" value="audit"/>
    <add key="watchr.errors.input" value="error"/>
    <add key="watchr.apiurl" value="http://localhost:61000/"/>

    <!-- Prod -->
    <!--<add key="watchr.apiurl" value="http://api.watchr.se"/>-->

    <!-- QA -->
    <!--<add key="watchr.apiurl" value="http://qa.watchr.se"/>-->
  </appSettings>
</configuration>