<section id="home-view" class="view">
    <h2>Welcome to WatchR</h2>
    <div class="row">
        <div class="span8" data-bind="ifnot: isLoggedIn">
            <div class="row">
                <div class="span4">
                    <a href="/#/login">Sign up!</a>
                </div>
                <div class="span4">
                    <a href="/#/login">Login!</a>
                </div>                
                    
            </div>
        </div>
        <div class="span4" data-bind="if: isLoggedIn">
            <div data-bind="template: {name: environmentTemplate}"></div>
        </div>  
         
    </div>
</section>