<section id="login-view" class="view">
    <div class="well">
        <div data-bind="with: user">
            Welcome 
            <span data-bind="text: name"></span>
        </div>
    </div>
</section>